.main {
  text-align: center;
}
.content {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}
.content div {
  margin: 0 auto;
}
#layers {
  box-shadow: none;
}
.card-header {
  width: 25em;
}
.card-body .md-form input {
  margin-bottom: 2em;
}
.add:hover {
  background: rgba(153, 218, 2, 0.87);
}
.add {
  transition: 0.2s;
  background: rgba(206, 252, 107, 0.719);
  cursor: pointer;
}
